<!DOCTYPE html>
<html lang="ES">

<%- include('../partials/head',{ title : 'Agregar artículo | Ar3Dex' }) %>


    <body>
        <%- include('../partials/header-admin') %>
        <main class="container dashboard__main">
            <section class="row my-5">
                <div class="col-12 col-md-10 mx-auto">
                    <div class="card border-dark dashboard__main--card">
                        <div class="card-header d-flex justify-content-between">
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin" class="text-primary">Admin</a></li>
                                    <li class="breadcrumb-item active text-secondary" aria-current="page">Nuevo producto
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="card-body">
                            <form class="row dashboard__main__form--product-add" action="/productos/crear" method="POST" enctype="multipart/form-data" id="form-create">
                                <h3 class="dashboard__main__card--custom-text">Nuevo Producto</h3>
                                <hr>
                                <div class="col-12 col-md-6 mb-3">
                                <div class="form-floating mb-3">
                                    <input name="name" type="text" data-identificador="Nombre" class="form-control bg-dark-subtle <%= (locals.errors &&  errors.name) && 'is-invalid' %>" id="name" value="<%= locals.old && old.name %>" placeholder="">
                                    <label for="name" >Nombre</label>
                                </div>
                                <p id="info-name" style="color:green"></p>
                                <p id="error-name" style="color:red"></p> 
                                <small class="text-danger ms-2"><%= (locals.errors &&  errors.name) && errors.name.msg %></small>
                                </div>
                                
                                <div class="col-12 col-md-3 mb-3">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <input name="price" type="number" data-identificador="Precio" class="form-control bg-dark-subtle <%= (locals.errors &&  errors.price) && 'is-invalid' %>" id="price" value="<%= locals.old && old.price %>" placeholder="">
                                            <label for="price" >Precio</label>
                                        </div>
                                        <span class="input-group-text">USD$</span>
                                    </div>
                                    <p id="info-price" style="color:green"></p>
                                    <p id="error-price" style="color:red"></p> 
                                    <small class="text-danger ms-2"><%= (locals.errors &&  errors.price) && errors.price.msg %></small>
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <input name="discount" type="number" data-identificador="Descuento" min="0" max="99" class="form-control bg-dark-subtle invalid" id="discount" placeholder="">
                                            <label for="discount">Descuento</label>
                                        </div>
                                        <span class="input-group-text">%Off</span>
                                    </div>
                                    <p id="info-discount" style="color:green"></p>
                                    <p id="error-discount" style="color:red"></p> 
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <div class="form-floating">
                                        <select data-identificador="Categoria" name="categoryId" class="form-select form-control bg-dark-subtle" id="categoryId" aria-label="Floating label select example">
                                            <option value="" hidden selected>Elegí</option>
                                            <% categories.forEach(category => { %>
                                                <option value="<%= category.id %>"><%= category.name %></option>
                                            <% }) %>
                                        </select>
                                        <label for="categoryId">Categoría</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <div class="form-check text-light">
                                        <input class="form-check-input" value="1" type="radio" name="offer" id="offer" placeholder="">
                                        <label class="form-check-label" for="offer-en-oferta">
                                            En Oferta
                                        </label>
                                    </div>
                                    <div class="form-check text-light">
                                        <input class="form-check-input" value="0" type="radio" name="offer" id="offer" checked placeholder="">
                                        <label class="form-check-label" for="offer-sin-oferta">
                                            Sin Oferta
                                        </label>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-md-3 mb-3">
                                    <input name="mainImage" type="file" data-identificador="Imagen principal" class="form-control" id="mainImage" hidden placeholder="">
                                    <label class="btn btn-lg  w-100 <%= locals.errors &&  errors.mainImage ? 'btn-outline-danger' : 'btn-outline-light' %>" for="mainImage">Imagen principal</label>
                                    <p id="info-mainImage" style="color:green"></p>
                                    <p id="error-mainImage" style="color:red"></p> 
                                    <small class="text-danger"><%= (locals.errors &&  errors.mainImage) && errors.mainImage.msg %></small>
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <input name="images" type="file" data-identificador="Imagenes" class="form-control" id="images" hidden multiple placeholder="">
                                    <label class="btn btn-lg btn-outline-light w-100" for="images">Imágenes</label>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="form-floating">
                                        <textarea name="description" data-identificador="Descripción" class="form-control bg-dark-subtle <%= (locals.errors &&  errors.description) && 'is-invalid' %>"
                                            id="description" style="height: 200px;" placeholder=""><%= locals.old && old.description %></textarea>
                                        <label for="description">Agrega una descripción</label>
                                    </div>
                                    <p id="info-description" style="color:green"></p>
                                    <p id="error-description" style="color:red"></p> 
                                    <small class="text-danger ms-2"><%= (locals.errors &&  errors.description) && errors.description.msg %></small>
                                </div>

                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-lg btn-dark btn-outline-light ">Agregar producto</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script src="/javascripts/createValidator.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <%- include('../partials/scripts') %>

    </body>

</html>